# Local models Ollama
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=http://localhost:11434

# Model for summary
SUMMARY_HOST=https://api.routeway.ai/v1
SUMMARY_MODEL=nemotron-nano-9b-v2:free
SUMMARY_AGENT_API_KEY='****'

# Model for report
REPORT_HOST=https://api.llmapi.ai/v1
REPORT_MODEL=llama-3-8b-instruct
REPORT_AGENT_API_KEY='****'

